svg.trail {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;
}

svg.trail path {
  fill: none;

  stroke: var(--color-trail);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
